@use '../generalStyle/fonts';
@use '../generalStyle/mixins' as m;
@use '../generalStyle/variables' as v;

.z-index {
    z-index: 100;
}

    #hero > header {
        padding: 25px;
        
        position: relative;
    }

    .container {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 1fr 2fr 1fr;

        a > #discord-logo {
            min-width: 8rem;
            width: 8rem;
            height: auto;
            align-self: center;
        }
    
        #login {
            grid-column: 3/4;
            @include m.button();
            font-size: 13px;
            line-height: 22px;
        }

        #login:hover {
            @include m.shadow-box(lighten($color: v.$not-so-black, $amount: 25));
        }

        #header-login__button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-column: 3/4;
        }
    
        #hamburger-menu {
            filter: v.$svg-to-white;
            width: 1.6rem;
            height: 1.6rem;
            margin-left: 20px;
        }

    }

@media screen and (min-width: 1024px) {
    #hero header {
        padding: 0 24px;
        height: 80px;

        #header-nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            gap: 20px;

            a {
                font-size: 16px;
                font-weight: 600;
                color: white;
                margin: 0 10px;
            }
        }

        .container {
            height: 100%;

            #header-login__button > #hamburger-menu {
                display: none;
            }
        }
    }

    #hero > header {
        .navContainer {
            position: initial;
            grid-column: 2/3;
            align-self: center;
            width: fit-content;
        }
    }
}

// nav items
.mobile-wrapper {
    padding: 24px;
}

.close-icon {
    width: 20px;
    height: 20px;
}

.mobile-discordLogo {
    width: 8rem;
    height: auto;
}

.mobileNav-separator {
    margin: 24px 0 16px 0;
    height: 2px;
    width: 100%;
    background: #ebedef;
}

.mobile-navItem {
    display: none;
}

.mobile-navItem.show {
    display: block;
}

.mobile-navItem.show.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileNav-download {
    display: flex;
    align-items: center;
    justify-content: center;

    @include m.button(v.$btn-blue, white ,7px 16px, 14px, 280px);
    height: auto;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }

    img {
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 10px;
        filter: v.$svg-to-white;
    }
}

.mobile-navFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-wrapper {
    padding: 24px;
}

@media screen and (max-width: 1024px) {
    .navContainer.show {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 110;
        width: 330px;

        padding: 25px 50px 120px 25px;
    
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        #header-nav {
            display: flex;
            flex-direction: column;

            a {
                display: inline;
                padding: 8px 16px;
                text-decoration: none;
            }
        }
    }

    .nav-arrow {
        display: none;
        font-size: 18px;
    }
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}
