// Whitney

@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-300.woff) format("woff")
  }
  
  @font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-400.woff) format("woff")
  }
  
  @font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-500.woff) format("woff")
  }
  
  @font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-600.woff) format("woff")
  }
  
  @font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-700.woff) format("woff")
  }

// Ginto

@font-face {
    font-family: Ginto;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-300.woff) format("woff")
  }
  
  @font-face {
    font-family: Ginto;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-400.woff) format("woff")
  }
  
  @font-face {
    font-family: Ginto;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-500.woff) format("woff")
  }
  
  @font-face {
    font-family: Ginto;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-600.woff) format("woff")
  }
  
  @font-face {
    font-family: Ginto;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto/Ginto-700.woff) format("woff")
  }

// Ginto Nord

@font-face {
    font-family: Ginto Nord;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-500.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-500.woff) format("woff")
  }
  
  @font-face {
    font-family: Ginto Nord;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-600.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-600.woff) format("woff")
  }
  
  @font-face {
    font-family: Ginto Nord;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-700.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Ginto-Nord/Ginto-Nord-700.woff) format("woff")
  }
  

// Web Symbols

@font-face {font-family:"WebSymbols-Regular";
    src:url("/assets/style/fonts/WebSymbols-Regular.eot") format("eot"),
    url("/assets/style/fonts/WebSymbols-Regular.woff") format("woff"),
    url("/assets/style/fonts/WebSymbols-Regular.ttf") format("truetype"),
    url("/assets/style/fonts/WebSymbols-Regular.svg") format("svg");
    font-weight:normal;
    font-style:normal;}