@use './generalStyle/fonts';
@use './generalStyle/variables' as v;
@use './generalStyle/mixins' as m;

@use './sectionStyle/header';
@use './sectionStyle/heroContent';
@use './sectionStyle/startJourney';
@use './sectionStyle/sections';
@use './sectionStyle/footer';


// Global

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

a {
    font-family: 'Whitney';
    text-decoration: none;
    color: v.$not-so-black;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    font-family: v.$p-font;
    color: v.$not-so-black;
    font-size: clamp(16px, 2vw, 20px);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.max-width-desktop {
    @media screen and (min-width: 1024px) {
        max-width: 1260px;
        margin: 0 auto;
    }
}

// Observer extra classes

.observer-item {
    transform: translateY(50px);
    opacity: 0;
}

.observer-item.show {
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
}
